<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>

<body>
    <div class="container">
        <div class="images">
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="image">
                <img src="../img/image.svg">
            </div>
        </div>
        <div class="login-container">
            <form>
                <input name="email" type="text" placeholder="email@email.com">
                <input name="password" type="password" placeholder="password">
                <div class="buttons">
                    <button>SIGN UP</button>
                    <button>LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</body>