*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F79824 0%, #FDCA40 100%, #7C4C12 100%) 0 0 no-repeat padding-box;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    width: 100vw;
    height: 100vh;
}

.logo {
    grid-column-start: 1;
    grid-row-start: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 80%;
}

.image{
    grid-column-start: 1;
    grid-row-start: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    /*display: none;*/
    grid-column-start: 2;
    grid-row-start: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 40vw;
    height: 28vh;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #33A1FD 0%, #2176FF 100%) 0 0 no-repeat padding-box;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs > .messages {
    margin-bottom: 1vh;

    font-weight: bold;
    font-size: 1.3em;
    color: #B60036;
}

.inputs > input {
    width: 28vw;
    height: 5vh;
    margin-bottom: 4%;
    padding-left: 1vw;
    font-size: 1em;
    font-weight: bold;

    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1em;
}

.buttons{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button[name="buttonZ"] {
    width: 10vw;
    height: 5vh;
    background: #33A1FD 0 0 no-repeat padding-box;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

button[name="buttonZ2"] {
    width: 10vw;
    height: 5vh;
    background: #33A1FD 0 0 no-repeat padding-box;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    font-size: 1em;
}



.sing-up{
    display: none;
    position: absolute;
    top: 5vh;
    left: 55vw;
    z-index: 2;


    width: 40vw;
    height: 90vh;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #33A1FD 0%, #2176FF 100%) 0 0 no-repeat padding-box;
    border-radius: 2em;

    /*display: flex;*/
    flex-direction: column;
    align-items: center;
}

.sing-up-div {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sing-up-div > p {
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Segoe Print", sans-serif;
}

.sing-up-div > input {
    width: 20vw;
    height: 5vh;

    margin-bottom: 1vh;
    padding-left: 1vw;
    font-size: 1em;
    font-weight: bold;

    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1em;
}


.sing-up-buttons{
    width: 30vw;
    height: 10vh;
    padding-bottom: 3vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

button[name="sing-up"] {
    width: 10vw;
    height: 5vh;

    font-size: 1.2em;
    font-weight: bold;
    font-family: "Segoe Print", sans-serif;

    background: #33A1FD 0 0 no-repeat padding-box;
    border-radius: 2em;
    border: none;
}

button[name="sing-up-exit"] {
    width: 10vw;
    height: 5vh;

    font-size: 1.2em;
    font-weight: bold;
    font-family: "Segoe Print", sans-serif;

    background: #33A1FD 0 0 no-repeat padding-box;
    border-radius: 2em;
    border: none;
}


.sing-up-mobile{
    display: none;
}




@media only screen and (max-device-width: 420px){
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        background: transparent linear-gradient(180deg, #F79824 0%, #FDCA40 100%, #7C4C12 100%) 0 0 no-repeat padding-box;
    }

    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;

        width: 100vw;
        height: 100vh;
    }

    .sing-up{
        display: none;
    }

    .logo{
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .image{
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .login-container{
        grid-column-start: 1;
        grid-row-start: 2;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: none;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 90vw;
        height: 22vh;

        background: transparent linear-gradient(180deg, #33A1FDFC 0%, #2176FFFC 100%) 0 0 no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 2em;
        font-size: 3em;
    }

    .inputs > input {
        width: 70vw;
        height: 5vh;

        padding-left: 4vw;

        font-size: 0.9em;
        font-weight: bold;
        font-family: "Segoe Print", sans-serif;

        background: #FFFFFF 0 0 no-repeat padding-box;
        border-radius: 1em;
        border: 1px solid #707070;
    }

    .inputs > .messages {
        font-size: 0.9em;
        font-family: "Segoe Print", sans-serif;
    }

    .buttons {
        width: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        margin-top: 2vh;
        font-size: 2.5em;
    }

    button[name="buttonZ"] {
        width: 40vw;
        height: 5vh;
        font-family: "Segoe Print", sans-serif;
        font-weight: bold;
    }

    button[name="buttonZ2"] {
        width: 40vw;
        height: 5vh;
        font-family: "Segoe Print", sans-serif;
        font-weight: bold;
    }




    .sing-up-mobile{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 100vw;
        height: 100vh;
        background: transparent linear-gradient(180deg, #33A1FDFC 0%, #2176FFFC 100%) 0 0 no-repeat padding-box;

        /*display: flex;*/
        flex-direction: column;
        justify-content: space-around;
        padding-left: 15vw;

        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    .sing-up-mobile > p {
        font-size: 3em;
        font-weight: bold;
        font-family: "Segoe Print", sans-serif;
    }


    .sing-up-mobile > label > input {
        width: 70vw;
        height: 5vh;

        padding-left: 5vw;

        font-size: 3em;
        font-weight: bold;
        font-family: "Segoe Print", sans-serif;

        background: #FFFFFF 0 0 no-repeat padding-box;
        border-radius: 2em;
        border: 1px solid #707070;
    }

    button[name="sing-up2"] {
        width: 50vw;
        height: 5vh;
        margin-left: 10vw;
        margin-top: 5vh;

        border: none;
        border-radius: 3em;
        background: #33A1FD 0 0 no-repeat padding-box;

        font-weight: bold;
        font-size: 3em;
        font-family: "Segoe Print", sans-serif;
    }


    button[name="sing-up2-exit"]{
        width: 50vw;
        height: 5vh;
        margin-left: 10vw;

        background: #33A1FD 0 0 no-repeat padding-box;
        border-radius: 3em;
        border: none;

        font-weight: bold;
        font-size: 3em;
        font-family: "Segoe Print", sans-serif;
    }
}
