*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FDCA40 0%, #F79824 100%) 0 0 no-repeat padding-box;
}

.base-container {
    width: 100vw;
    height: 100vh;
}

header{
    width: 100vw;
    height: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background: #33A1FD 0 0 no-repeat padding-box;
}

.bars{
    display: none;
}

.logo {
    width: 30vw;
    height: 15vh;
}

img[src="public/img/logo.svg"] {
    width: 30vw;
    height: 15vh;
}

.search-town{
    width: 50vw;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrap{
    width: 30vw;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
}

span[class="wysz"]{
    width: 3vw;
}

input[name="search"]{
    border: none;
    background: transparent;
    outline: none;

    width: 24vw;   
    text-align: center;
    font-size: 1em;
}

::placeholder{
    color: white;
}

span[class="exit"]{
    width: 3vw;

    display: flex;
    justify-content: flex-end;
}

.profile{
    width: 10vw;
    height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 5vw;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    border-radius: 50em;
}

.name {
    font-size: 2em;
    color: white;
}

button[name="settings-button"]{
    width: 10vw;
    height: 15vh;

    background: #2176FF 0 0 no-repeat padding-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: black inset thin;
}




section.project{
    display: grid;
    grid-template-columns: 30% 38% 32%;
    grid-template-rows: 100%;

}


.filters{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters-bar{
    width: 28vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;

    background: #33A1FD 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 2em;
}

.info-bar{
    width: 28vw;
    height: 10vh;
    font-size: 1.5em;
    color: white;
    display: flex;
    margin-left: 2em;
    align-items: center;
}


.filters-bar-section {
    width: 20vw;
    height: 70vh;
    font-size: 1.5em;
    overflow: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.filters-bar-section::-webkit-scrollbar{
    display: none;
}

.filters-bar-section > h1{
    margin-top: 1em;
    padding-bottom: 1em;
}

.filters-bar-section > h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.container{
    display: block;
    position: relative;
    padding-left: 3em;
    margin-bottom: 0.8em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 3vh;
    width: 2vw;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 0.7em;
    top: 0.3em;
    width: 0.4em;
    height: 0.8em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.info {
    height: 85vh;
}

.info::-webkit-scrollbar{
    display: none;
}

.projects{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
}

#project-1{
    width: 36vw;
    height: 34vh;
    
    margin-top: 1em;

    display: flex;
    flex-direction: column;

    background: #31393C 0 0 no-repeat padding-box;
    border: 1px solid #5E5E5E;
    border-radius: 2em;
}

.image {
    width: 36vw;
    height: 16vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img[src="public/img/first.svg"]{
    width: 36vw;
    height: 16vh;

    border-radius: 2em 2em 0 0;
}

.informations{
    width: 32vw;
    height: 4vh;

    font-size: 2em;
    color: white;

    display: flex;
    margin: 0.5em;
    justify-content: space-between;
}

.icon-background{
    width: 4.5vw;
    letter-spacing: 0.1em;

    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.text {
   color: white;

    overflow: scroll;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: left;
    font-size: 1.5em;
}

.text::-webkit-scrollbar{
    display: none;
}


.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 30vw;
    height: 80vh;

    border-radius: 2em;

}

#map>.pin{
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em;
}

button[name='add-pin']{
    width: 3vw;
    height: 3vw;

    position: relative;
    top: 1em;
    left: 1em;
    z-index: 1;
}

#map > .local{
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em;
}

button[name='localization'] {
    width: 3vw;
    height: 3vw;

    position: relative;
    top: 1em;
    left: 1em;
    z-index: 1;
}


.pin-add-div{
    /*display: none;*/
    width: 40vw;
    height: 70vh;

    background: #114B5F 0 0 no-repeat padding-box;
    z-index: 2;
    position: absolute;
    top: 15vh;
    right: 10vw;

    display: flex;
    flex-direction: column;
}


button[name='close-button'] {
    width: 4vw;
    height: 4vw;
    background: #31393C 0 0 no-repeat padding-box;
    position: absolute;
    right: 2vw;
    top: 2vh;
}


.photo-div{
    width: 40vw;
    height: 35vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    width: 15vw;
    height: 15vw;

    background: #31393C 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 39px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.photo-icon{

}

.bottom-bar {
    display: none;
}






@media only screen and (max-device-width: 420px){

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background: none;
    }

    header{
        width: 100vw;
        height: 10vh;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        background: #33A1FD 0 0 no-repeat padding-box;
    }

    .bars {
        width: 25vw;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    button[name="bars-button"]{
        width: 25vw;
        height: 10vh;

        background: #2176FF 0 0 no-repeat padding-box;

        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        border: 0;
    }

    .logo {
        display: none;
    }

    .search-town{
        display: none;
    }

    .profile{
        display: none;
    }

    .settings{
        width: 25vw;
        height: 10vh;
    }

    button[name="settings-button"]{
        width: 25vw;
        height: 10vh;

        border: 0;
    }

    *{
        font-size: 36px;
    }
}